// --------------------------------------------------
// Fonts
// --------------------------------------------------

// Maven Pro
//--------------------------------------------------
@font-face {
    font-family: 'MavenProMedium';
    src: url('../fonts/mavenpro/medium/maven_pro_medium-webfont.eot');
    src: url('../fonts/mavenpro/medium/maven_pro_medium-webfont.eot?#iefix') format('eot'),
         url('../fonts/mavenpro/medium/maven_pro_medium-webfont.woff') format('woff'),
         url('../fonts/mavenpro/medium/maven_pro_medium-webfont.ttf') format('truetype'),
         url('../fonts/mavenpro/medium/maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MavenProRegular';
    src: url('../fonts/mavenpro/regular/maven_pro_regular-webfont.eot');
    src: url('../fonts/mavenpro/regular/maven_pro_regular-webfont.eot?#iefix') format('eot'),
         url('../fonts/mavenpro/regular/maven_pro_regular-webfont.woff') format('woff'),
         url('../fonts/mavenpro/regular/maven_pro_regular-webfont.ttf') format('truetype'),
         url('../fonts/mavenpro/regular/maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
    font-weight: normal;
    font-style: normal;

}

