//---------------------------------------
//  Typography
//---------------------------------------

//  Globals
//----------------------------------------
p {
  margin: 0 0 30px;
}

a {
  text-decoration: none;
}

//  Titles
//----------------------------------------
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $dark-blue;
  margin: 0;
}

//  Lists
//----------------------------------------
ul {
  padding: 0;
  list-style: none;
}

//  Defaults
//----------------------------------------
abbr {
  cursor: help;
}
