//----------------------------------------
//  Variables
//----------------------------------------

// Colors
//----------------------------------------

// Pallete
$dark-blue: #31353d;
$green: #9bb6aa;

// Body Color
$body-color: #f9f9f9;

// Header
$header-color: $dark-blue;

// Typography
$base-font-family: 'MavenProRegular', arial, tahoma, trebuchet ms, verdana;
$base-font-size: 14px;
